<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SaboresPortugal.SaboresPortugal" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="SaboresPortugal" android:icon="@drawable/Waiter_48"></application>
	<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCmqz7R9ILIZh6WJn-CgmyFYC8qKb2cMpk" />
</manifest>